<div class="card text-left">
  <img class="card-img-top" src="holder.js/100px180/" alt="" />
  <div class="card-body">
    <h4>{{ Title }}</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      nostrum dicta officiis, tempora, exercitationem quisquam quaerat
      praesentium aliquid odit quo eum voluptatem dignissimos excepturi nam nemo
      assumenda. Autem, soluta quisquam.
    </p>
    <button (click)="onclick()" class="btn">Click</button>
  </div>
</div>
